<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatSpace</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body class="bg-slate-900 text-gray-300">
    <header
      class="flex relative lg:justify-end sm:justify-between items-center p-8 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black">
      <div class="flex absolute chatspace">
        <h1>
          <a class="text-5xl font-bold text-violet-100" href="/">ChatSpace</a>
        </h1>
      </div>
      <nav class="flex flex-row items-center gap-2 w-full justify-between">
        {{#if logged_in}}
          <button
            class="rounded-md bg-violet-900 p-2 font-bold duration-300 hover:bg-indigo-400 hidden md:flex"
          >
            <a href="/profile">PROFILE</a>
          </button>
          <button
            class="rounded-md bg-violet-900 p-2 font-bold duration-300 hover:bg-indigo-400 hidden md:flex"
            id="logout"
          ><a href="/login">LOGOUT</a></button>
        {{else}}
          <a
            {{! TESTING set button to invisible for login screen }}
            class="invisible transform rounded-md bg-violet-900 p-2 font-bold duration-300 hover:bg-indigo-400"
            href="/login"
          >LOGIN</a>
        {{/if}}
      </nav>
    </header>
    {{!-- TEST full height --}}
    <div class="flex flex-row h-screen">
      {{#if logged_in}}
      {{!-- TEST mobile burger menu --}}
      <div class="px-2 py-2 cursor-pointer md:hidden w-1/12" id="burger">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>

      </div>
        <aside
        {{!-- TEST mobile hidden  hidden lg:flex      made lg:w-2/12 and w-1/3 for smaller  position absolute on md--}}
          id="menu"
          class="h-screen bg-gradient-to-r from-slate-900 via-purple-900 to-slate-900 text-sky-50 rounded-sm w-2/4 lg:w-2/12 flex flex-col items-center hidden md:flex"
        >
        {{!-- TEST mobile profile and logout , md:hidden md:flex------------------------------------}}
            {{#if logged_in}}
              <button
                class="rounded-md bg-rose-600 p-2 font-bold duration-300 hover:bg-indigo-400 md:hidden md:flex my-2"
              >
                <a href="/profile">PROFILE</a>
              </button>
              <button
                class="rounded-md bg-rose-600 p-2 font-bold duration-300 hover:bg-indigo-400 md:flex my-2"
                id="logout-2"
              ><a href="/login">LOGOUT</a></button>
            {{else}}
              <a
                {{! TESTING set button to invisible for login screen, not really needed if invisible and reroute to login page }}
                class="invisible transform rounded-md bg-violet-900 p-2 font-bold duration-300 hover:bg-indigo-400"
                href="/login"
              >LOGIN</a>
            {{/if}}
        {{!-- TEST END --------------------------------------------------------------}}
          {{#each chatrooms as |chatroom|}}
            {{#if chatroom.userHasTag}}
              <a class="chatrooms w-9/12" id="{{id}}">
                <button
                  class="chatTitle capitalize transform w-full rounded-md bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black p-4 my-5 font-bold duration-300 hover:bg-indigo-400"
                >{{chatroom.title}}</button>
              </a>
            {{/if}}
          {{/each}}
        </aside>
      {{/if}}
      {{!-- TESTING main look, changed width and mt, w-full for body render --}}
      <main class="w-full mx-auto flex justify-center">
        {{!-- TEST w-full for profile render--}}
      <div id="main" class="show w-full">
        {{{body}}}
      </div>
        {{> chatrooms}}
        {{!-- blog creation partial --}}
        {{> createBlog}}
      </main>
    </div>
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
    <script src="/js/menu.js"></script>
  </body>

</html>