<div
  class="flex h-full flex-col items-center justify-center bg-[#292240] bg-[url(https://neluttu.github.io/pro-profile/wallpaper.jpg)]"
>
  <div
    class="backdrop-blur-xs my-4 overflow-hidden rounded-[6px] bg-[#231f39]/60 px-6 shadow-[0px_15px_39px_16px_rgba(52,45,91,0.65)]"
  >
    <h2
      class="my-3 text-2xl font-semibold uppercase text-slate-300 md:text-4xl"
    >Welcome {{username}}!</h2>

    <div class="createNew flex items-center justify-center">
      <button
        id="hide-btn"
        type="submit"
        class="text-md mb-8 mt-2 rounded-sm bg-slate-400 p-3 font-bold text-slate-800 duration-300 hover:bg-indigo-200"
      >Create New Blog</button>
    </div>
  </div>

  {{#if blogs.length}}
    <div
      class="blogList relative mx-2 h-3/6 w-3/5 max-w-lg overflow-scroll overflow-x-hidden rounded-[6px] bg-[#231f39]/60 shadow-[0px_15px_39px_16px_rgba(52,45,91,0.65)] backdrop-blur-sm"
    >
      <h3 class="mb-3 py-3 text-center text-xl font-bold">Everyone's Blogs</h3>

      {{#each blogs as |blog|}}
        <div class="flex justify-center">
          <div
            class="mb-2 ml-2 flex w-11/12 items-center justify-between rounded-md border-2 border-slate-600 bg-slate-600 p-2"
          >
            <div>
              <a href="/blog/{{blog.id}}">
                <h4
                  class="mr-4 text-lg font-bold duration-300 hover:text-indigo-400"
                >{{blog.title}}</h4>
              </a>
              <p>Author:
                <a
                  href="/user/{{blog.user.username}}"
                  class="duration-300 hover:text-indigo-400"
                >{{blog.user.username}}</a></p>
              {{#if blog.tag}}
                <p>Tag:
                  <a
                    href="/tag/{{blog.tag}}"
                    class="duration-300 hover:text-indigo-400"
                  >{{blog.tag}}</a></p>
              {{/if}}
            </div>
            {{#if blog.userHasBlog}}
              <button
                class="rounded-sm bg-slate-400 p-2 text-sm font-bold text-slate-800 duration-300 hover:bg-indigo-200"
                data-id="{{blog.id}}"
              >DELETE</button>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

{{! <script src="/js/blog.js"></script> }}