{{!-- added bg-cover to stop background from repeating at larger screens --}}
{{!-- wallapaper found from tailwind component --}}
<div
  class="bg-[url(https://neluttu.github.io/pro-profile/wallpaper.jpg)] bg-[#292240] bg-cover flex items-center justify-center min-h-screen text-[#9e9cb6]"
>
  <section
    class="w-3/5 max-w-lg relative bg-[#231f39]/60 rounded-[6px] shadow-[0px_15px_39px_16px_rgba(52,45,91,0.65)] backdrop-blur-sm mx-2 overflow-hidden"
  >
    <h2
      class="my-3 text-2xl text-slate-300 uppercase text-center"
    >{{username}}'s Page</h2>
    <div>
      {{!-- UX feature for blog list --}}
      {{#if currentUser}}
        <h2 class="text-xl text-slate-300 uppercase my-5 text-center">Your
          Blogs:</h2>
      {{else}}
        <h2
          class="text-xl text-slate-300 uppercase my-5 text-center"
        >Blogs:</h2>
      {{/if}}
      {{#if blogs.length}}
        <div class="blogList">
          {{#each blogs as |blog|}}
            <div class="flex justify-center">
              <div
                class="flex justify-between items-center border-2 rounded-md p-2 bg-slate-600 border-slate-600 mb-2 w-11/12"
              >
                <div>
                  <a href="/blog/{{blog.id}}">
                    <h4
                      class="font-bold text-lg transition-all duration-200 transform hover:scale-105 mr-4"
                    >{{blog.title}}</h4>
                  </a>
                  {{#if blog.tag}}
                    <p>Tag: <a href="/tag/{{blog.tag}}">{{blog.tag}}</a></p>
                  {{/if}}
                </div>
                {{#if isAuthor}}
                  <div>
                    <button
                      class="text-sm font-bold text-md rounded-sm bg-slate-400 p-2 text-slate-800 duration-300 hover:bg-indigo-200"
                      data-id="{{blog.id}}"
                    >DELETE</button></div>
                {{/if}}
              </div>
            </div>
          {{/each}}
        </div>
      {{/if}}
      {{#if currentUser}}
        <div class="my-4 flex justify-center items-center">
          <button
            type="submit"
            id="hide-btn"
            class="createNew mt-2 font-bold text-md rounded-sm bg-slate-400 p-3 text-slate-800 duration-300 hover:bg-indigo-200"
          >Create New Blog</button>
        </div>
      {{/if}}
    </div>

    <div class="bg-[#1e1a36]/70 p-4 text-sm font-semibold backdrop-blur-sm">
      <h3 class="text-2xl text-slate-300 uppercase">{{username}}'s Blog Tags:</h3>
      {{! active joined chats }}
      {{#if blogs.length}}
        <ul
          class="flex mt-4 flex-wrap items-center justify-start gap-2 gap-y-3 [&>li]:border-2 [&>li]:border-[#2f2a47] [&>li]:px-3 [&>li]:py-1 [&>li]:rounded-[4px] [&>li]:transition-all [&>li]:duration-150 [&>li]:ease-in [&>li:hover]:scale-105 [&>li:hover]:cursor-pointer"
        >
          {{#each blogs as |blog|}}
            <li><a href="/tag/{{blog.tag}}">{{blog.tag}}</a></li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </section>
</div>

{{! <script src="/js/blog.js"></script> }}