<div class="flex flex-col justify-center items-center">
  <h2 class="text-2xl text-slate-300 uppercase">Welcome {{username}}!</h2>

  <div class="mt-4">
    <div class="mb-5">
      <h3 class="text-center font-bold text-xl mb-1">Create a New Blog</h3>

      <form class="form newBlogForm">
        <div class="flex flex-col items-center gap-2 my-4">
          <label class="flex-nowrap font-bold" for="blogTitle">Blog Title:</label>
          <input
            class="w-full p-2 my-2 bg-slate-0 rounded-md border-2 focus:outline-none text-slate-800"
            type="text"
            id="blogTitle"
            name="blogTitle"
          />
        </div>
        <div class="flex flex-col items-center gap-2 mb-4">
          <label class="font-bold" for="blogContent">Content:</label>
          <textarea
            class="w-full h-64 p-2 my-2 bg-slate-0 rounded-md border-2 focus:outline-none text-slate-800"
            id="blogContent"
            name="blogContent"
          ></textarea>
        </div>
        <label class="flex-nowrap font-bold" for="blogTitle">Blog Tag
          (Optional):</label>
        <input
          class="w-full p-2 my-2 bg-slate-0 rounded-md border-2 focus:outline-none text-slate-800"
          type="text"
          id="blogTag"
          name="blogTag"
        />
        <div class="flex justify-center items-center">
          <button
            type="submit"
            class="mt-2 border-2 font-bold border-slate-500 rounded-md bg-slate-400 p-2 text-slate-800 transition-all duration-200 transform hover:scale-105"
          >Create New Blog</button>
        </div>
      </form>
    </div>

    {{#if blogs.length}}
      <div class="blogList">
        <h3 class="text-center font-bold text-xl mb-3">Blogs</h3>

        {{#each blogs as |blog|}}
          <div class="flex justify-center">
            <div
              class="flex justify-between items-center border-2 rounded-md p-2 bg-slate-600 border-slate-600 mb-2"
            >
              <div>
                <a href="/blog/{{blog.id}}">
                  <h4
                    class="font-bold text-lg transition-all duration-200 transform hover:scale-105 mr-4"
                  >{{blog.title}}</h4>
                </a>
                {{#if blog.tag}}
                  <p>Tag: {{blog.tag}}</p>
                {{/if}}
              </div>
              <button
                class="border-2 font-bold text-sm border-slate-500 rounded-md bg-slate-400 p-2 text-slate-800 transition-all duration-200 transform hover:scale-105"
                data-id="{{blog.id}}"
              >DELETE</button>
            </div>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>

<script src="/js/blog.js"></script>